

 body{
    background-color: #e9abb1;
    color: white;
}
.content{
    background-color:#040000;
    color:#1f1f22 ;
    width: 65%;
    position: relative;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
h1{
    color: #e9abb1; 
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}
.content label{
    color: #e9abb1;
    font-weight: 500;
}
.content .btn-add{
    background-color: #cd1150;
    color: #040000;
    /* position: absolute;
    right: 0;
    margin-right: 50px; */
    float: right;
    font-weight: 600;
}
.content .btn-reset{
    background-color:#e9abb1;
    color: #040000;
    /* position: absolute;
    right: 21%; */
    float: right;
    margin-right: 20px;
    font-weight: 600;
    
}
.content .clear{
    clear: both;
}
.search{
    width: 50%;
}
.table{
    color: #040000;
    width: 65%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.table .update{
    color: #ffffff;
    background-color: transparent;
}
.table .delete{
    color: #eb0027;
    background-color: transparent;
}
@media screen and (max-width:992px) {
    .content{
        width: 90%;
        margin: auto;
    }
    .table{
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }
    .search{
        width: 75%;
    }
}
